.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #1b2838;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#profile-dropdown {
  box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.56);
}

.active {
  color: #1a9fff;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.suggestions-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200%;
  background-color: #3d4450;
  box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.56);
  z-index: 10;
  animation: example 5s linear 2s infinite alternate;
}
.suggestions-container-mobile {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #3d4450;
  box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.56);
  z-index: 2;
}

.suggestion {
  padding: 8px;
  cursor: pointer;
  color: white;
  font-weight: 400;
}

.suggestion:hover {
  background-color: #f2f2f2;
  color: black;
}

.dropdown-item {
  color: white;
}
.dropdown-item:hover {
  color: black;
}

.carousel-control-next {
  justify-content: end;
  right: -5%;
  width: 40px;
}

.carousel-control-prev {
  justify-content: start;
  left: -5%;
  width: 40px;
}

.carousel-indicators {
  bottom: -18%;
}

.my-box-shadow {
  box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.56);
  border: 1px solid #3f4041b4;
}

.carousel-images {
  opacity: 50%;
}

.carousel-images:hover {
  opacity: 100%;
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.555);
}

.cursor-pointer {
  cursor: pointer;
}

.container-lg {
  padding-inline: 0;
}

.carousel-cover {
  width: 65%;
  max-width: 100%;
}

@media (max-width: 992px) {
  .carousel-cover {
    width: 100%;
  }

  .carousel-control-next {
    display: none;
    right: 0;
  }
  .carousel-control-prev {
    display: none;
    left: 0;
  }
}

.container-lg {
  padding-inline: 3rem;
}

.thumbnail-container {
  overflow-x: auto;
  cursor: pointer;
}

.custom-carousel .carousel-indicators {
  display: none;
}

.custom-carousel .carousel-control-next {
  display: none;
}

.custom-carousel .carousel-control-prev {
  display: none;
}

.selected {
  box-shadow: 0px 0px 0px 3px #ffffff;
  transition: box-shadow 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #3b3b3b;
}

::-webkit-scrollbar-thumb {
  background-color: #646464;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.review-user {
  opacity: 70%;
  cursor: pointer;
}
.review-user:hover {
  opacity: 100%;
}

.rating-color {
  color: #1a9fff;
}

.fs-7 {
  font-size: 0.8rem;
}
.fs-8 {
  font-size: 0.7rem;
}

.like-btn {
  background-color: rgba(0, 132, 255, 0.164);
  color: rgb(28, 106, 179);
}
.like-btn:hover {
  background-color: #66c0f4;
  color: white;
}

.liked {
  background-color: #36607d;
  color: #6bb64d;
}

@media (min-width: 576px) {
  .game-list-image {
    max-width: 280px;
  }
}

.game-list-container {
  min-height: 157.5px;
}

.game-list-container:hover {
  transform: scale(1.1);
}

.my-buttons {
  background-color: #414a54 !important;
  border: none;
  border-radius: 0;
}
.my-buttons:hover {
  background-color: #cacaca !important;
  color: black;
}
.my-buttons:focus {
  background-color: #cacaca !important;
  color: black;
}
.my-buttons:active {
  background-color: #414a54 !important;
}
.page-link {
  background-color: #414a54;
  border-radius: 0px !important;
  color: white;
}
.page-link:hover {
  background-color: #1b3e61;
  color: black;
}
.page-link:focus {
  background-color: #1b3e61;
}
span.page-link {
  background-color: #66c0f4 !important;
  color: black !important;
  border: 1px solid white !important;
}

.modal-content {
  background-color: #20334b;
}

.profile-card {
  background-color: #414a5446;
}
.profile-card-container {
  background-color: #414a5427;
}
